@use 'typography';

:host {
  display: block flex;
  background: var(--_notification-background);
  border-radius: 4px;
  color: var(--_notification-on-background);
  flex-flow: row nowrap;
  justify-content: flex-end;
  padding-block: 14px;

  > p {
    @include typography.create-body-medium-style();

    flex: auto 1 0;
    margin-block: 0px;
  }

  > button {
    color: var(--_notification-on-background-tint);
    flex: auto 0 0;
    margin-block: -10px;

    &::before {
      background: var(--_notification-on-background-tint);
    }
  }
}
